{% extends "base.html" %}
{%block asif%}
{% include "blog2/list-inline.html" with blog_post=objects detail=True %}
{%if user.is_authenticated%}
    {%if request.user.is_staff%}
       <button type="button" class="btn btn-primary"> <a href="{{objects.get_edit_url}}">edit</a></button>
       <button type="button" class="btn btn-danger"> <a href="{{objects.get_delete_url}}">delete</a></button>   
    {%endif%}
{%endif%}
{% include "comment/comments.html"%}
<div class="cc" style="color: aliceblue; position:absolute;right: 50%;">
{% for list in c_obj%}
<h1> Username: {{list.user}}</h1>
<p>{{list.text}}</p>
{%endfor%}
</div>


{%endblock%}