{% extends "base.html" %}
{%block asif%}
<div class="row">
{%for object in objects%}
    {% include "blog2/list-inline.html" with blog_post=object  truncate=True %}
{%endfor%}
<div>
    
    {%if objects.has_previous %} {# whether the previous page exists #}
        <a href="?page={{objects.previous_page_number}}">Previous</a> {# link to the prev page #}
    {% endif %}
    <span>{{objects.number}}</span> {# the current page number #}
   
    {%if objects.has_next %} {# whether the next page exists #}
        <a href="?page={{objects.next_page_number}}">Next></a> {# link to the next page #}
    {% endif %}
</div>
</div>

{%endblock%}