
    <div class="col-6 col-md-5  mb-2 mx-auto">
        <div class="row">
      <div class="card">
        <div class="card-body">
        <h3>Comment Section</h3>
      
      <form method="POST" action="."> {% csrf_token %}
      

          <div class="form-group">
              <label for="exampleFormControlTextarea1"></label>
              <!-- <textarea class="form-control" name="text"  id="exampleFormControlTextarea1" rows="3"></textarea> -->
              {{comment.text}}
            </div>
      
              <div class="form-group">
                  <label for="exampleFormControlInput1"></label>
                  <!-- <input type="text" class="form-control" name="username" id="exampleFormControlInput1" placeholder="User Name"> -->
                
                </div>


      
                <div class="form-group">
                  <label for="exampleFormControlInput1"></label>
                  <!-- <input type="email" class="form-control"  name="email" id="exampleFormControlInput1" placeholder="Email"> -->
                </div>

                
                <!-- <div class="form-group">
                  <label for="exampleFormControlTextarea1"></label>
                  <textarea class="form-control" name="title"  id="exampleFormControlTextarea1" rows="3">{{objects.get_title}}</textarea>
                </div> -->

                
          
                
          <br>
          
          <div>
          <button type="submit" class="btn btn-outline-secondary" >send</button>
          </div>
      </form>
      </div>
        </div></div></div>

     